.radio-button {
    margin-left: 16px;
    margin-right: 16px;

  }
.radion{
  display: flex;
margin-top: 10px;
margin-bottom: 10px;

}
  .radio{
    display: flex;
  }
  .radiocolumn{
    display: flex;
    flex-direction: column;
  }
  .marg{
    margin-left: 50px;
  }
  h4{
    background-color: gray;
    color: white;
    font-weight: bold;
    padding: 5px;
  }
 

   
  table, td {
    border: 1px solid #333;
}

thead, tfoot {
    background-color: rgb(125, 125, 125);
    color: #fff;
}
table {
    border:1px solid #131314;
    border-collapse:collapse;
    width:101%;
    margin:auto;
    }
tbody {
    background-color:#FFFFFF;
    border:3px solid #0b0b0b;
    }
    th {
        
        border:1px dotted #0c0c0d;
        padding:5px;
        
    }
    td {
        font-family:sans-serif;
        font-size:80%;
        border:1px solid #6495ed;
        padding:5px;
        text-align:left;
    }
  

  