<table class="table">
    <thead>
        <tr class="whiteb">
                <h5>La Région mobilise des fonds publics pour financer votre formation, vous permettre d’améliorer vos compétences et améliorer vos possibilités de trouver un emploi. Il est donc de votre intérêt de vous investir et d’être assidus pour la réussite de cette formation.
                Ces financements publics impliquent que la Région puisse évaluer la formation financée. C’est pourquoi, vous devez vous engager à utiliser les outils fournis par la Région notamment « NIVO Hauts-de-France » afin de permettre à la Région d’analyser l’efficacité de votre formation. Vous vous engagez aussi à répondre à l'enquête d'insertion qui a lieu 6 mois après votre sortie de formation. Cette enquête permet de vérifier la réussite de votre recherche d’emploi liée à votre formation. 
                L’ensemble de ces données doit permettre d’améliorer la qualité mais aussi de disposer d’une cartographie des sorties dans l’emploi suite à une formation financée par la Région.
                </h5>

            <h6>
                Dans le cadre de sa mission de financement de la formation professionnelle (Article L6121-1 du code du travail), la Région recueille des informations à caractère personnel concernant les stagiaires. Ces informations font l'objet d'un traitement informatique destiné au suivi des parcours de formation et à l'élaboration de statistiques non nominatives. Les destinataires des données sont les services de la direction de la formation professionnelle de la Région Hauts-de-France, l’organisme dans lequel le stagiaire suit sa formation mais aussi l'Union Européenne, Pôle Emploi, l'Agence de Services et de Paiement, la Caisse des Dépôts et Consignations (pour le compte personnel de formation) et les organismes chargés par la Région Hauts-de-France d'une mission d'évaluation.
                Conformément à l’article R6316-1 du code du travail sur la qualité de l’offre de formation, les données recueillies seront également utilisées de façon anonyme à des fins de suivi et d'évaluation de la qualité de l’offre de formation financée par la Région.
                Conformément au règlement général sur la protection des données (RGPD) et à la loi « informatique et libertés » du 6 janvier 1978 modifiée, vous bénéficiez d’un droit d’accès, de rectification des données à caractère personnel vous concernant ou encore de limitation du traitement. Vous pouvez également, pour des motifs légitimes, vous opposer au traitement de vos données. Vous pouvez exercer vos droits en écrivant à la direction de la formation professionnelle de la Région Hauts-de-France : <span class="blue">@hautsdefrance.fr</span>
                Les données concernant la rémunération des stagiaires ne peuvent pas être effacées immédiatement. En effet, dans le cadre de son rôle d’employeur, la Région doit conserver les données de paie pendant 5 ans. Article L3243-4 et R1221-26 du code du travail.
                Les données concernant le ou les parcours de formation sont soumises aux contrôles effectués par le Fonds Social Européen (FSE) qui oblige la Région à conserver les données des stagiaires pour une durée de 10 ans en conformité de l’article 17.3.b du Règlement (UE) 2016/679. 
                Pour les questions concernant les activités de traitement des données mises en œuvre par la Région Hauts-de-France, veuillez contacter le délégué à la protection des données (DPO) de la Région Hauts-de-France <span class="blue">www.hautsdefrance.fr/informatique-et-libertes</span>
            </h6>
            </tr>
            <tr>
                <div class="box-signature">
                    <div class="box-titre">
                        Approbation du stagiaire
                    </div>
                    <div class="box-body">
                        Je soussignée(e) <input type="text" class="box-input-name" required name="signature" [(ngModel)]="signature"/> (prénom – nom), 
                        déclare sur l’honneur l’exactitude des renseignements communiqués dans ce document
                        <br>
                        Date : <input type="date" class="box-input-date" required name="datesign" [(ngModel)]="datesign"/>
                    </div>
                </div>
            </tr>
    </thead>
</table>
