<div class="row">
  
  <!-- ==================================-->
  <!-- =======alignment Pagination  ===== -->
  <!-- ==================================-->
  <div class="col-md-12">
    <div class="card">
      <div class="card-body border-top">

        <ngb-pagination
          class="d-flex justify-content-end"
          [collectionSize]="70"
          [(page)]="page"
        ></ngb-pagination>
        <div class="bg-light p-3">Current page: {{ page }}</div>
      </div>
    </div>
  </div>
</div>
