h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    
    letter-spacing: 5px;
  }

  img{
    width: 500px;
    height: 450px;
  }
  p{
    text-align: justify;
  }
  #about{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 150px;
  }